@import '~@angular/material/theming';

@include mat-core();

// default theme:
$primary: mat-palette($mat-indigo, 500);

.navigation {

  &__progress {
    position: absolute;
    top: 64px;
    z-index: 999;
  }

  &__body {
    position: absolute;
    top: 64px;
    height: calc(100% - 64px);
    width: 100%;
  }

  &__menu {
    min-width: 250px;
  }

  &__content {
    margin: 50px 100px;
    min-height: calc(100% - 200px);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: mat-color($primary);
    color: white;
  }
}