:root {
  --var-color-hover: #ececec;
}

.p-fixed {
  position: fixed;
}

.p-relative {
  position: relative;
}

.z-999 {
  z-index: 999;
}

.flex-1 {
  flex: 1;
}

.ml-1 {
  margin-left: 8px;
}

.overflow-hidden {
  overflow: hidden;
}

.remove-link-styles {
  color: inherit; /* blue colors for links too */
}

.button-group {
  margin-top: 16px;

  & > button {
    margin-right: 16px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
